.App {
  text-align: center;
  font-family: 'Rockwell';
}

.App-header {
  font-family: 'Rockwell';
  background-color: #558868;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  pointer-events: none;
  margin-left: 40px;
  margin-right: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #D6DFD9;
}



.App-link {
  color: #61dafb;
}


